 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* i {
    color: #000000;
    font-size: 20px;
} */


.icon-socialfield {
    color: #1764ff;
    font-size: 20px;
    text-decoration: none;

}


