@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;


}

#container{
    background-color: white;
    font-size: 18px;
}

.text-none {
    text-decoration: none;
}

p a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 16px;

}

p a:hover {
    color: #fff;

}

/* #navbar-products{
    padding-left: 280px;
} */

.nav-item{
    margin-left: 60px;
}

#imagelogo{
    margin-left: 50px;
}

.btn-form{
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 205px;
    text-align: center;
    background: #1764ff;

}
#headerNav>i{
    color: #fff;
    padding: 15px;
    font-size: 20px;
}

.btn-form2{
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 150px;
    text-align: center;
    background: #1764ff;

}

/* SCROLL BAR */

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
::-webkit-scrollbar {
    width: 6px;
    background: #1764ff;
}
::-webkit-scrollbar-thumb {
    background: #1764ff;
}

