@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

#company {
    height: 1000px;
}

.title-about {
    font-size: 30px;
    text-align: center;
    
    padding-top: 50px;
}

.span-title{
    font-weight: 800;
}