/* FONTE: POPPINS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

#company {
    width:1000px;
    height:600px;
    object-fit: cover
}

.title-about {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

.span-title{
    font-weight: bold;
    color: #1764ff;
}

.p-about{
    text-align: center;
    padding-top:20px;
    font-size: 15px;
    padding-bottom: 15px;
}

.cards-section {
    margin: auto;
    padding-top: 20px;


}

.innovate{
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.parallax {
/* The image used */
background-image: url("../images/bg2.svg");
      
/* Set a specific height */
min-height: 600px; 
      
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;


/* global settings */

padding-top: 20px;
}

#cards{
    display: flex;
    justify-content: space-around;
    padding: auto;
}

.agile {
    text-align: center;
    padding-top: 25px;
    
}

.methodology {
    font-weight: bold;
}

.p-agile {
    text-align: center;
}

/* .card-body{
    font-size: 12px;
    cursor: pointer;
} */

/* .card-body:hover {
    transform: scale(1.1);
    transition: all 0.5s;
} */


/* FLIP CARD */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgba(73, 70, 70, 0.087);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


  .title-flipcard {
      text-align: center;
      padding-top: 5px;
      font-size: 30px; /* apenas inicialmente */
      color: grey;
      font-weight: 600;
  }

  .img-flipcard {
      border-radius: 50%;
      padding-top: 20px;
  }

  .section-flipcard{
      display: flex;
      margin-left: 30px;
      margin-right: 30px;
      justify-content: center;
      gap: 15px;
      padding-top: 50px;
      padding-bottom: 30px;
      cursor: pointer;

    }


  .main-flipcard {
      text-align: center;
      padding: 30px;
  }

  .btn-github i{
      color: dodgerblue;
      font-size: 20px;

  }

  .btn-linkedin i {
      color: dodgerblue;
      font-size: 20px;
  }

  .btn-github, .btn-linkedin{
      border: none;
      background-color: white;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      text-align: center;
  }

  .p-name {
      font-weight: 600;
  }

  .p-back {
      margin-top: 15px;
      text-align: right;
      padding: 10px;
      font-size: 14px;
  }

.paragraph-flipcard {
  margin: 0 30%;
  padding-top: 50px;
  text-align: center;
  font-size: 17px;
  
}


/* MEDIA QUERIES */

@media (max-width:380px) {
    /* smartphones, Android phones, landscape iPhone */ 
   
   .parallax {
       display: none;
       /* parallax: não está ficando responsivo, por esses motivos, o display-none será setado */
   }
   
   .section-flipcard {
       display: flex;
       flex-direction: column;
       padding: 2px;
       align-items: center;
       /* FUNCIONOU */
   }
   
   .paragraph-flipcard {
       font-size: 15px;
       padding: 2px;
   }
   
   #rowcards {
       padding: 10px;
   }
   
   }

@media (max-width:500px) {
 /* smartphones, Android phones, landscape iPhone */ 

.parallax {
    display: none;
    /* parallax: não está ficando responsivo, por esses motivos, o display-none será setado */
}

.section-flipcard {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    /* FUNCIONOU */
}

.paragraph-flipcard {
    font-size: 15px;
    padding: 2px;
    margin: 0;
}

#rowcards {
    padding: 10px;
}

}

@media (max-width:800px) {
 
    .parallax {
        display: none;

    }

    .section-flipcard {
        display: flex;
        flex-direction: column;
        padding: 2px; 
        margin: 0 20%;
        align-items: center;
    }

    .paragraph-flipcard {
        font-size: 15px;
        padding: 2px;
        margin: 0;
    }

}

@media (max-width:1300px){
    .section-flipcard{
        display: flex;
        flex-direction: column;
        padding: 2px;
        margin: 0% 30%;
        align-items: center;
    }

    .parallax {
        display: none;
    }
}

@media (max-width:1500px){
    .section-flipcard{
        display: flex;
        flex-direction: column;
        padding: 2px;
        margin: 0% 40%;
        align-items: center;
    }

}

