
.title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.td-section{
    display: flex;
    margin-top: 3px;
    display: flex;
    align-items: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto; 
    justify-content: space-around;
}
