@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

#company {
    width:1000px;
    height:600px;
    object-fit: cover
}

.title-about {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

.span-title{
    font-weight: bold;
    color: #1764ff;
}

.p-about{
    text-align: center;
    padding-top:20px;
    font-size: 20px;
    padding-bottom: 15px;
}

.cards-section {
    margin: auto;
    padding-top: 20px;


}

.innovate{
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.parallax {
/* The image used */
background-image: url("../images/bg2.svg");
      
/* Set a specific height */
min-height: 600px; 
      
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;


/* global settings */

padding-top: 20px;
}