* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#img-carousel {
    width: 1000px;
    height: 600px;
    object-fit: cover
}
.img-robot{
    width: 100%;
    height: 700px;
    background-image: url(../images/robotindex.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.descricao{
    width: 70%;
    text-align: center;
    font-weight: bold;
    color: rgb(24, 24, 24); 
}
