* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#img-carousel {
    width: 1000px;
    height: 600px;
    object-fit: cover
}
.img-robot{
    width: 100%;
    height: 700px;
    background-image: url(../images/robotindex.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

    /* PARALLAX */

    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
   
}
.descricao{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(24, 24, 24); 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
} 
.descricao >h2,p{
    max-width: 60%;
}

.p-carrossel {
    font-size: 28px;
    margin: 0 30%;
    padding-bottom: 150px;
}

#cards-main{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 99%;
}

.card-img-top{
    padding-top: 10px;
    border-radius: 10px;
}
