* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#img-carousel {
    width: 1000px;
    height: 600px;
    object-fit: cover
}

.descricao{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(24, 24, 24); 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
} 

.p-carrossel {
    font-size: 15px;
    margin: 0 30%;
    padding-bottom: 50px;
} 

.cards-main{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 99%;
}

.card-img-top{
    padding-top: 10px;
    border-radius: 10px;
    width: 600px;
}

.card-body{
    width: 100%;
    text-align: right;
    margin: none; 

}


#row-cards{
    padding-top: 50px;
}

.image-logo{
    display: flex;
    justify-content: center;
    margin: 0 30%;
}

.image-logo img {
    width: 300px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 30%;
}

.p-main-logo p {
    display: flex;
    justify-content: center;
    margin: 0 30%;
    padding-bottom: 60px;
    text-align: center;
    font-size: 17px;
}

.p-main-logo h2 {
    display: flex;
    justify-content: center;
    margin: 0 30%;
    padding-bottom: 50px;
    font-size: 30px;
    color: rgb(50, 49, 49);

}

.gif-center {
    display: flex;
    justify-content: center; 
    height: 700px; 

}


.box-main {
    width: 300px;
    height: 220px;
    border: 1px solid rgb(214, 213, 213);
}

#section-cards-main{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 5px;
    width: 97%;
    margin-left: 20px;

}

.icon-content i {
    font-size: 23px;
    padding-top: 30px;
    color: #1764ff;
    margin-left: 20px;
    cursor: pointer;
}

.icon-content i:hover{
    color:rgb(50, 50, 49)
}

.row-section-p {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color:rgb(70, 68, 68);
}

.p-content {
    font-weight: 600;
    font-size: 21px;
}

.p-content-2{
    font-size: 13px;
}

.span-p-content{
    font-weight: 900;
    color: #1764ff;
}

.mapa-section-div{
    height: 500px;
    background-color: #1764ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.mapa-section-p p {
    width: 500px;
    
}

.mapa-section{
    padding-top: 60px;
}

.image-map {
height: 400px;
}

.sub-title-map{
    text-align: center;
    padding-top: 50px;
}

.span-devup-icon{
    color: #1764ff;
}

.span-devup-titlemap{
    font-weight: bold;
}

.title-map-p-final{
    display: flex;
    justify-content: center;
    margin: 0 30%;
    padding-top: 20px;
    text-align: center;
}

.country-map-title {
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0 30%;
    font-size: 18px;
    align-items: center;
}

.boxOne1, .boxOne2{
    width: 300px;
    height:100px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

#user-client {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px
}

.aspas-client{
    font-size: 35px;
    color: #1764ff;
}

.title-user-client {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(50, 49, 49);
}

.col-sm-6{
    width: 500px;
    display: flex;
    justify-content: center;
    
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.card-text{
    font-size: 15px;
    font-weight: 500;
}

.arroba {
    font-size: 20px;
}

.title-user-client i {
    font-size: 25px;
    color: #1764ff;
}

/* MEDIA QUERIES: INDEX */

@media (max-width){
    #section-cards-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 21%;
    }


    #user-client{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    

}


@media (max-width: 500px){

}




