* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardPrincipal {
  background-color: #c4c4c41c;
  height: 350px;
}

.textoBtn {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.btnInscrever {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}