* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardPrincipal {
  background-color: #fdfafac4;
  height: 350px;
}

.textoBtn {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.btnInscrever {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
}
.img-main{
  background-image: url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774);
  background-repeat: no-repeat;
  background-size: cover;
}