* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  
  }

.col{
    padding-left: 12px;
    height: 610px;
}

.card{
    border-color: #1764ff;
    border-width: 2px;
}
.card-text{
    font-size: 16px;
    padding-bottom: 15px;
}

.produtos{
    font-size: 70px;
}

.subProdutos{
    font-size: 25px;
}

.echoRewards{
    font-size: 15px;
}

@media (max-width: 1440px){
    .r2Dup-icon{
        margin-bottom: 3px;
    }
    .r2Dup{
        margin-bottom: 23px;
    }
    .imgEcho2{
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px){
   .d-flex{
       align-items: center;
   }
   .col{
        width: 1000px;    
   }
}

@media (max-width: 1369px){
    .imgEcho{
       margin-bottom: -10px;
    }
}

@media (max-width: 1920px){
    .imgEcho2{
        margin-bottom: 5px;
    }
}

@media (max-width: 375px){
    .h-100{
        width: 300px;
        margin-left: -70px;
    }
    .imgEcho{
        margin-bottom: -40px;
    }
    .imgEcho2{
        margin-bottom: -22px;
    }
    .btnHome{
        width: 110px;
    }
    .btnPlanos{
        width: 100px;
    }
    .produtos{
        font-size: 40px;
    }
}