@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divPrincipal{
   text-align: center;
   width: 465px;
   height: 303px;
   background-color: #c4c4c42d;
   border-radius: 15px;
   
}
.form-label{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.63);
}

.mb-3{
    padding: 15px;
}
.mb-4{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
