@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.divPrincipal{
   margin: 0% 30%;
   border: 2px solid black;
}
.mb-3{
    padding: 25px;
}

/* #btnRecuperacao{

} */

.form-label{
    text-align: center;
}