*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divPrincipal{
   text-align: center;
   width: 465px;
   height: 303px;
   background-color: #f8f5f5ce;
   border-radius: 15px;
   
}
.form-label{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.815);
}
